body {
    font-family: "American Typewriter", serif;
    background-color: #6a39a3;
    background-color: #206c37;

}
h1 {
    text-align: center;
    margin:1em;
    margin: 1em;
    padding: 0;
    text-decoration:underline overline;
    color: #110200;
}



    h3 {
        text-decoration: underline;
    }

    .search-bar {
        margin: auto;
        display: flex;
        justify-content: center;
    }

    #zoom-label {
        margin: 1em;
    }

