{
    text-align: center;
    margin: 0;
    padding: 0;
}

.forecast-card {
    text-align: center;
    display: inline-flex;
    flex-direction: column;
    margin: 4em;
    padding: 4em;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-shadow: 0 0 2px #ccc;
}